body{
    background-color: #b8b8b8;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* Giphy party */

.headinfo{
    align-items: center;
    justify-content: center;
    display: flex;
}
/* contaner for top submission menu */
.inputfield{
    width: 100%;
    height: 110px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(70px); 
    background-color: rgba(0,0,0, 0.5);
    color: aliceblue;
    border-bottom: .5px solid #423633 ;
    z-index: 1;
}
/* search field */
#fetchgif{
    background-color: #b8b8b8;
    border: none;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    margin-top: -30px;
    font-size: 2rem;
    text-align: center;
    color: dimgray;
}
#fetchgif:hover{
    background-color: #cfcfcf;
}
#fetchgif:focus{
    border: none;
    outline: none;
    color: dimgray;
    background-color: #cfcfcf;
}
::placeholder {
    color: dimgray;
  }
/* gif sumbittion botton */
.submitBTN{
    display: block;
    width: 120px;
    height: 50px;
    background-color: #5E427B;
    text-align: center;
    cursor: pointer;
    border-radius: 0 5px 5px;
    font-size: large;
    color: #9780a2;
    margin-top: 80px;
    border: none;
}
.submitBTN:hover{
    background-color: #75628A;
    color: #4c306a;
    transition: 200ms;
}
.hiddensubmit{
    display: none;
}

/* main gif container */
.maingifcontainer{
    margin-top: 120px;
    margin-bottom: 70px;
    width: 80%;
    height: auto;
}
/* image */
img{
    width: 380px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid ;
    box-shadow: 0 0 10px black;
}
/* site infomation */
.info{   
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    word-spacing: 5px;
}

.navbar-sub-container{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(20px); 
    background-color: rgba(0,0,0, 0.5);
    font-size: 2rem;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
p, a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}
/* container that is created when item is submitted */

#createdcontainer{
    width: auto;
    height: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    float: left;
}
/* remove single item button */
.removesingelitem{
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    position: absolute;
    border: none;
}
.removesingelitem:hover{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    background-color: rgba(0,0,0, 0.1);
    position: absolute;
    border-radius: 5px;
    color: lightgray;
    font-size: 10em;
    font-weight: 900;
    border: .5px solid gray;
    box-shadow: 0 0 10px white;
    transition: .4s;
}