body{
    background-color: #423633;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* back button */
.homebtn{
    top: 10px;
    left: 10px;
    padding: 8px;
    position: fixed;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: gray;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}
.homebtn:hover{
    font-size: 30px;
}
/* Giphy party */
h1{
    margin-top: -2px;
    position: absolute;
    font-size: 3rem;

}
/* contaner for top submission menu */
.inputfield{
    width: 100%;
    height: auto;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
    background-color: rgba(0,0,0, 0.5);
    box-shadow: 0px 0px 15px black;
    color: #917873;
    border-bottom: .5px solid #423633 ;
    z-index: 1;
    -webkit-backdrop-filter: blur(10px); 
/* 
    width: 100dvw;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    padding: 5px;
    word-spacing: 5px;
    color: whitesmoke;
    backdrop-filter: blur(50px);
    background-color: rgba(0,0,0, 0.5);
 */


}
/* search field */
.fetchgif{
    width: 400px;
    background-color: #62514D;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 2rem;
    padding: .6rem;
    text-align: center;
    color: lightgray;
    margin-top: 65px;
}
.fetchgif:hover{
    width: 400px;
    background-color: #917873;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 2rem;
    padding: .5rem;
    color: lightgray;
    margin-top: 65px;

}
.fetchgif:focus{
    border: none;
    outline: none;
    color: lightgray;
}
/* gif sumbittion botton */
.submitBTN{
    display: block;
    width: 150px;
    background-color: #5E427B;
    color: white;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #75628A;
    box-shadow: 0 0 3px black;
    margin: 5px;
    margin-top: 65px;
    border: none;
}
.submitBTN:hover{
    background-color: #75628A;
    color: #5E427B;
    transition: 200ms;
}
.hiddensubmit{
    display: none;
}
/* main gif container */
.maingifcontainer{
    margin-top: 120px;
    width: 80%;
    height: auto;
    /* background-color: black; */
    margin-bottom: 70px;
}
/* image */
img{
    width: 380px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid ;
    box-shadow: 0 0 10px black;
}
/* site infomation */
.info{   
    width: 100%;
    height: auto;
    background-color: black;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(70px);
    -webkit-backdrop-filter: blur(10px); 
    background-color: rgba(0,0,0, 0.5);
    box-shadow: 0px 0px 15px black;
    color: #423633;
    border-top: .05px solid;
    font-size: 2rem;
    word-spacing: 5px;
}
p, a{
    text-decoration: none;
    color: #917873;
}
a:hover{
    color: darkgoldenrod;
}
/* container that is created when item is submitted */

#createdcontainer{
    width: auto;
    height: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    float: left;
}
/* remove single item button */
.removesingelitem{
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    position: absolute;
    border: none;
}
.removesingelitem:hover{
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px); 
    background-color: rgba(0,0,0, 0.1);
    position: absolute;
    border-radius: 5px;
    color: lightgray;
    font-size: 10em;
    font-weight: 900;
    text-shadow: 0 0 5px black;
    border: .5px solid black;
    box-shadow: 0 0 10px white;
    transition: .4s;
}
.navbar-sub-container{
    padding: 1rem;
}